{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-detail">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <h2>
    Comments:
    </h2>
    {% for comment in comments %}
        {% if comment.post_id == post %}
                        <div class = "comment">
                            <div class="comment-meta">
                                <span class = "comment-author">{{ comment.author }}</span>
                                <span>published: {{ comment.published_date }}</span>
                            </div>
                            <div class="comment-content">{{ comment.text }}</div>
                        </div>
        {% endif %}
    {% endfor %}
    <h2>
    Add new commment:
    </h2>
    <form method="POST" class="comment-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
